@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "roboto", sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
h1{
    margin: 10px;
}
.box{
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: steelblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    box-shadow: 1px 1px 5px red;
    transform: translateX(400%);
    transition: transform 0.3s linear;
    

}
.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box.show{
    transform: translateX(0);
}
.box h2{
    font-size: 45px;
}